
body { 
  font-family: sans-serif;
  margin:0;
}

header { 
  display:block;
  height: 50px;
  overflow:hidden;
  padding: 1em 0;
  clear:both;
  text-align:center;
}

header h1 { 
  float: right;
}
input { 
  width: 50%;
}

div.sticky { 
  padding: 1em;
  cursor: pointer;
  font-size: small;
  overflow: hidden;  
 } 

div#board { 
  width: 800px;
  height: 500px;
  margin: 100px auto;
}

div.sticky { 
   /* Firefox */  
   -moz-box-shadow: -3px 3px 10px rgba(66,66,66,1);  
   /* Safari+Chrome */  
   -webkit-box-shadow:  -5px 5px 7px rgba(66,66,66,.5);  
   /* Opera */  
   box-shadow:  -5px 5px 7px rgba(66,66,66,.5); 
  padding: 1em;
  cursor: pointer;
  background: yellow;
  font-size: small;
  width: 75px;  
  height: 75px;  
  border: 1px solid #FFCD00;  
  border-top: 10px solid #FFCD00;  
 } 

div.hidden { 
  visibility: hidden;
}

#board .sticky{
   -webkit-transform:rotate(-2deg);  
   -o-transform:rotate(-2deg);  
   -moz-transform:rotate(-2deg);  
}

#board div:nth-child(even) {  
   -o-transform:rotate(4deg);  
   -webkit-transform:rotate(4deg);  
   -moz-transform:rotate(4deg);  
   position:relative;  
   top:5px;  
 }  

#board div:nth-child(3n) {  
   -o-transform:rotate(-3deg);  
   -webkit-transform:rotate(-3deg);  
   -moz-transform:rotate(-3deg);  
   position:relative;  
   top:-5px;  
 }  
#board div:nth-child(5n) {  
   -o-transform:rotate(5deg);  
   -webkit-transform:rotate(5deg);  
   -moz-transform:rotate(5deg);  
   position:relative;  
   top:-10px;  
 }  

h1 { 
  float:right;
  padding: 0 1em;
  font-size: 90%;
}

button { 
  margin: 1em;
}

button#save { 
  right:0;
  bottom:0;
  position:fixed;
}

div#help a { 
  padding: 1em;
  width: 300px; 
  font-size: small;
  bottom:0;
  left:0;
  position:fixed;
}

  

a#toggle_help { 
  color: #666;
  text-decoration: none;
  font-weight:bold;
}


